In [2]:
for a in range(5):        #5 will be excluded
    print(a, "sheryar")

0 sheryar
1 sheryar
2 sheryar
3 sheryar
4 sheryar

In [4]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [6]:
for number in range(0,10,2):
    print(number)

0
2
4
6
8

In [9]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [12]:
cities = ["gilgit", "chitral", "skardu"]

In [13]:
cities

['gilgit', 'chitral', 'skardu']

In [17]:
for city in cities:
    print("THE CITY IS {city}")

THE CITY IS {city}
THE CITY IS {city}
THE CITY IS {city}

In [18]:
country = "PAKISTAN"

for char in country:
    print(char)

P
A
K
I
S
T
A
N

In [19]:
countries = "PAKISTAN", "AMERICA", "INDIA"

for char in countries:
    print(char)

PAKISTAN
AMERICA
INDIA

# FOR LOOP'S Break and Continue

In [28]:
for 
print(num)

90