In [1]:
5 + 8 # operation
# +, -, *, /, %, ** Operator
# 5, 8 Operands

13

In [2]:
# PEMDAS
5 + 7 - 8 *(2/2) + 200

204.0

In [4]:
a = 8         #Shallow Copy
b = 8
print(a)
print(b)

print(id(a))
print(id(b))

8
8
140714290881136
140714290881136

In [10]:
a = 20.7
type(a)

float

In [13]:
a = 20 + 7.2
print(a)
type(a)

27.2

float

In [14]:
int ("1") + int('1')  #Explicit

2

In [16]:
a = "PAKISTAN "  #Operator Overloading
a * 2

'PAKISTAN PAKISTAN '

In [17]:
names = ["hamza", "danish", "sheryar", "ali", 200] #LIST
print(type(names))

<class 'list'>

In [18]:
names = {"hamza", "danish", "sheryar", "ali", 200}  #SET
print(type(names))

<class 'set'>

In [19]:
names = ("hamza", "danish", "sheryar", "ali", 200)  #TUPLE
print(type(names))

<class 'tuple'>

In [23]:
names = ["hamza", "danish", "sheryar", "ali"]  #Through Index
print(names[1])

danish

In [25]:
names = {"hamza", "danish", "sheryar", "ali", 200} 
names = list(names)
print(names[0])
print(type(names))

sheryar
<class 'list'>

In [26]:
data = {
    #KEY  : Value
    'name'  : "Muhammad Sheryar",
    'f.name': "Naeem Ud Din",
     5      : 'PAKISTAN'
}
data['name']

'Muhammad Sheryar'

In [29]:
a = "SheryaR KhaN"
print(a.upper())

SHERYAR KHAN

In [30]:
a = "SheryaR KhaN"
print(a.casefold())

sheryar khan

In [31]:
a = "SheryaR KhaN"
print(a.encode())

b'SheryaR KhaN'

In [35]:
a = "SheryaR KhaN"
print(a.title())

Sheryar Khan

In [36]:
a = "SheryaR KhaN"
print(a.lower())

sheryar khan

In [37]:
a = "            Sheryar      khan"
print{len(a)}
print{a.string()}
print(len{a.strip()})

SyntaxError: invalid syntax (<ipython-input-37-62049cadf18b>, line 2)

In [41]:
a = "WE ARE PAKISTANI"
a

'WE ARE PAKISTANI'

In [42]:
#list [start:end:step]
#tuple [start:end:step]
#string [start:end:step]
print(a)
print(a[::])
print(a[7:15])

WE ARE PAKISTANI
WE ARE PAKISTANI
PAKISTAN

In [43]:
print(a)
print(a.index("PAKISTANI"))

WE ARE PAKISTANI
7