# Slicing

In [4]:

#index       -5       -4      -3       -2        -1
students = ["sheryar", "ali", "nasir", "forcaan", "zaid"]

#index         0        1        2        3         4

students[4]

'zaid'

In [6]:
print(students[1])
print(students[-4])

ali
ali

In [7]:
#students[start:end+1]
students[1:3]

['ali', 'nasir']

In [8]:
students[-4:-2]

['ali', 'nasir']

In [9]:
students[:]

['sheryar', 'ali', 'nasir', 'forcaan', 'zaid']

In [10]:
students[3:]

['forcaan', 'zaid']

In [11]:
students[:3]

['sheryar', 'ali', 'nasir']

In [12]:
students[2:-1]

['nasir', 'forcaan']

In [13]:
students[2:-5]

[]

In [14]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
nums[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [17]:
nums[0:20:5]

[1, 6, 11, 16]

In [19]:
del nums[5]

In [20]:
nums

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
arr = [1,2,3]
del arr[2]

In [23]:
arr

[1, 2]

In [24]:
arr.remove(2)

In [25]:
arr

[1]

# Tupples

In [27]:
#Tupples are immutable
atupple = ("ali", "05", "spain")

In [28]:
len(atupple)

3

In [29]:
atupple[2]

'spain'

In [30]:
a = 5, 12, 14

In [31]:
a

(5, 12, 14)

In [32]:
a.index(12)

1