In [2]:
a = 10
# is variable name (identifier)
# = assignment operator
# 10 value (integer value)

In [3]:
print(a)

10

In [4]:
a = 10.6
print(a)

10.6

In [5]:
city = "Karachi"
city

'Karachi'

In [6]:
type(city)

str

In [13]:
student_name = "sheryar"
fathers_name = "naeem"

In [16]:
print(student_name+fathers_name)

sheryarnaeem

In [17]:
num1 = 100
num2 = 300

sum = num1 + num2
print(sum)

400